@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1 {
  background: radial-gradient(ellipse at center, #d4e4ef 0%, #86aecc 100%);
  text-align: center;
  color: darkblue;
  padding: 25px;
  font-family: "Montserrat", sans-serif, italic;
}

h2 {
  text-align: center;
}

div p {
  text-align: center;
  margin: 20px;
}

.abt-me p {
  font-size: 18px;
}

h2 {
  font-family: "Montserrat", sans-serif, italic;
}

.welcome {
  font-family: "Fugaz One", cursive;
  font-size: 35px;
}

.abt-me {
  border-bottom: 1px solid black;
}

.wrk-edu {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.wrk-edu h2 {
  text-align: left;
  border-bottom: 1px solid black;
}

/* Images section */
.i1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.i2 {
  width: 100%;
  text-align: center;
}

div .hclass {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: silver;
}

.hclass img {
  width: 50%;
  max-width: 300px;
  border-radius: 20px;
  margin: 5% 5%;
}

.hclass:hover {
  border: 3px solid black;
  font-size: larger;
}

div .blog-img {
  flex-direction: row-reverse;
  background-color: white;
}

.blog-img img {
  width: 50%;
  max-width: 300px;
  border-radius: 20px;
  margin: 5% 5%;
}

@media screen and (max-width: 599px) {
  div .hclass {
    display: block;
    text-align: center;
  }

  div .blog-img {
    display: block;
    text-align: center;
  }
}
.my-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.my-pic img {
  border-radius: 50vw;
  width: 20vw;
}

@media screen and (max-width: 599px) {
  .my-pic {
    display: block;
    text-align: center;
  }

  .my-pic p {
    font-size: 10px;
  }
}
a[href$=".pdf"] {
  background-image: url("/pictures/iconfinder_file-pdf_285666.png");
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  display: inline-block;
  padding-top: 15px;
  text-align: center;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  border: 1px solid black;
  width: 80%;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.75);
  background-color: red;
  opacity: 0.9;
  color: black;
}

.div-styling {
  clear: both;
  max-height: 100vh;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("/pictures/geometric-1732847_1920.jpg");
  background-color: lightslategrey;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}

html {
  width: 100%;
  height: 100%;
}

.slider-show {
  display: flex;
}

/* Nav menu styling */
nav {
  background: white;
  padding: 5px;
  position: fixed;
  z-index: 99;
}

.menu-content {
  height: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  padding: 0 15px;
  /* width: 20%; */
  z-index: 99;
}

.collapsible-menu {
  background-color: #86aecc;
  padding: 10px 30px;
  border-bottom: 3px solid #012146;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}

.collapsible-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.collapsible-menu label {
  font-family: "Montserrat", cursive;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  background: url(/pictures/menu.png) no-repeat left center;
  height: 30px;
  background-size: contain;
  padding: 10px 0 10px 35px;
}

input#menu {
  display: none;
  position: absolute;
}

input:checked + label {
  background-image: url(/pictures/menu.png);
}

/* Toggle Effect */
input:checked ~ .menu-content {
  height: 175px;
}

.credit-size {
  font-size: 5px;
}

.menutwo {
  display: none;
}

@media screen and (min-width: 700px) {
  .collapsible-menu {
    display: none;
  }

  .menutwo {
    position: relative;
    display: flex;
    margin-bottom: 60px;
  }

  #menubutton {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #4682b49e;
    border-bottom: 3px solid #012146;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", cursive;
  }

  .button {
    background-color: rgba(11, 10, 56, 0.82);
    border: none;
    color: silver;
    padding: 10px 50px;
  }
}
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: #efefef;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 18px;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
  overflow: hidden;
  position: relative;
  background: #222;
  z-index: 1;
}

#items {
  width: 10000px;
  position: relative;
  top: 0;
  left: -800px;
}

#items.shifting {
  transition: left 0.2s ease-out;
}

.slide {
  width: 800px;
  height: 600px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: #FFCF47;
}

.slider.loaded .slide:nth-child(2),
.slider.loaded .slide:nth-child(5) {
  background-image: url("/pictures/quicknote.jpg");
}

.slider.loaded .slide:nth-child(1),
.slider.loaded .slide:nth-child(4) {
  background-image: url("/pictures/photo-1535005410886-12b3caf12112.jfif");
}

.slider.loaded .slide:nth-child(3) {
  background-image: url("/pictures/recipe-site.PNG");
}

/* .slider.loaded .slide:nth-child(4) {
  background: #a78df5;
}
.slider.loaded .slide:nth-child(5) {
  background: #ff8686;
} */
.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -20px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -20px;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}

/* Contact form styling */
input[type=text], select, textarea {
  display: block;
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

#question {
  height: 200px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.formcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: black;
  transform: rotateY(180deg);
}

.flip-container {
  display: flex;
  justify-content: space-around;
  margin: 0 5px;
}

/*# sourceMappingURL=main.css.map */
