/* Images section */
.i1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.i2 {
    width: 100%;
    text-align: center;
}


div .hclass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: silver;
}


.hclass img {
    width: 50%;
    max-width: 300px;
    border-radius: 20px;
    margin: 5% 5%;  
}

.hclass:hover {
    border: 3px solid black;
    font-size: larger;
}

div .blog-img { 
    flex-direction: row-reverse;
    background-color: white;
}
  
.blog-img img {
  width: 50%;
  max-width: 300px;
  border-radius: 20px;
  margin: 5% 5%;
//   float: right;
}

@media screen and (max-width: 599px) {
    div .hclass {
        display: block;
        text-align: center;
    }
    div .blog-img {
        display: block;
        text-align: center;
    }
    // .blogstuff img {
    //     text-align: center;
    // }
}

.my-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.my-pic img {
    border-radius: 50vw;
    width: 20vw;
    // max-width: 300px;
}


@media screen and (max-width: 599px) {
    .my-pic {
        display: block;
        text-align: center;
    }
    .my-pic p {
        font-size: 10px;
    }
} 

a[href$= ".pdf"] {
    background-image: url("/pictures/iconfinder_file-pdf_285666.png");
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 10px;
    height: 100px;
    width:100px;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
    font-size: 10px;
    
}