/* Images section */
.i1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.i2 {
    width: 100%;
    text-align: center;
}

div .blog-img {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  
  .blog-img img {
    width: 50%;
    max-width: 300px;
    border-radius: 20px;
    margin: 5% 5%;  
  }

div .blog-img2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgrey;
}
.blog-img2 img {
  width: 50%;
  max-width: 300px;
  border-radius: 20px;
  margin: 5% 5%;

}

@media screen and (max-width: 599px) {
    div .blog-img2 {
        display: block;
        text-align: center;
    }
    div .blog-img {
        display: block;
        text-align: center;
    }
    // .blogstuff img {
    //     text-align: center;
    // }
}

.my-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 5%;
}

.my-pic img {
    border-radius: 25vw;
    width: 25vw;
    max-width: 300px;
}


@media screen and (max-width: 599px) {
    .my-pic {
        display: block;
        text-align: center;
    }
    .my-pic p {
        font-size: 10px;
    }
} 




