/* Nav menu styling */

nav {
    background:white;
    padding: 5px;
    position: fixed;
    z-index: 99;
}
.menu-content {
    height: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
    padding: 0 15px;
    /* width: 20%; */
    z-index: 99;

}
.collapsible-menu {
    background-color: rgba(134,174,204,1);
    padding: 10px 30px;
    border-bottom: 3px solid rgb(1, 33, 70);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
    
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    background: url(/pictures/menu.png) no-repeat left center;
    height: 30px;
    background-size: contain;
    padding: 10px 0 10px 35px;
}

input#menu {
    display: none;
    position: absolute;
}

input:checked +label {
    background-image: url(/pictures/menu.png);
}

/* Toggle Effect */

input:checked ~ .menu-content {
    height: 175px;
}
.credit-size {
    font-size:5px;
}


// Menu for wider screens

.menutwo {
    display: none;
}


@media screen and (min-width: 700px) {
    .collapsible-menu {
        display:none;
    }
    .menutwo {
        position: relative;
        display: flex;
        margin-bottom: 60px;
    }
    #menubutton {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: #4682b49e;
        // padding: 5px 30px;
        border-bottom: 3px solid rgb(1, 33, 70);
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        font-family: 'Montserrat', cursive;
    }
    .button {
        background-color: rgba(11, 10, 56, 0.82);
        border: none;
        color: silver;
        padding: 10px 50px;
    }
}