h1 {
    // background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    text-align: center;
    color: darkblue;
    padding: 25px;
    font-family: 'Montserrat', sans-serif, italic;
}

h2 {
    text-align: center;
}

div p {
    text-align: center;
    margin: 20px;
}