h1 {
    background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    text-align: center;
    color: darkblue;
    padding: 25px;
    font-family: 'Montserrat', sans-serif, italic;
}

h2 {
    text-align: center;
}

div p {
    text-align: center;
    margin: 20px;
}

.abt-me p {
    font-size: 18px;
}

h2 {
    font-family: 'Montserrat', sans-serif, italic;
}
.welcome {
    font-family: 'Fugaz One', cursive;
    font-size: 35px;
}

.wrk-edu {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    font-size: 18px;
}
.wrk-edu h2 {
    text-align: left;
}